.form_page {
  margin: 20px 30px;
  form {
    margin: 50px;
    h3 {
      text-align: center;
      margin-bottom: 50px;
    }
    .form_row {
      margin-bottom: 30px;
    }
    button {
      border: 1px solid white;
      background: #4b4747;
      color: white;
      padding: 5px 10px;
      border-radius: 11px !important;
      margin-top: 20px;
      &:hover {
        color: white;
        background: #4d4b4b;
      }
    }
  }
}
.dataOnConsole {
  margin: 100px auto;
  color: darkblue;
  width: fit-content;
}

.backButton {
  cursor: pointer;
}
